
<div class="container-fluid">
    <table class="table table-light">
        <thead class="thread-light">
            <tr>
                <th>name</th>
                <th>id</th>
                <th>phone</th>
                <th>address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>James</td>
                <td>jj</td>
                <td>e.phone</td>
                <td>e.addres</td>
                <td>
                    <button class="btn btn-warning" routerLink="/editEmployee">Edit</button>
                    <button class="btn btn-warning">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>