

<div class="container-fluid">
    <div class="card" style="width: 75%; margin: 10px auto;">
        <div class="card-header">Add new employee
        </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="phone">phone</label>
            <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="address">address</label>
            <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Edit Employee</button>
        </div>
    </div>
    <div class="card-footer">
        <div class="alert alert-success" role="alert">
            <button class="close">&times;</button>
            <strong>Updated properly</strong>
        </div>

    </div>
</div>